# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Scaler files
models/scaler.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs or temporary outputs (if any)
*.log
